/* Basic CSS */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&display=swap");
body {
  font-family: "Nunito", sans-serif;
  background-color: $backgroundColor;
}
p,
label {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: $blackColor;
}
h1,
h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  color: $blackColor;
}
button {
  border: 0;
  color: $blackColor;
  &:hover {
    cursor: pointer;
  }
  &.btn {
    @include btn(100px);
  }
}
input {
  display: block;
  padding: 14px 16px;
  border: 1px solid $inputBorderColor;
  border-radius: 4px;
  color: $blackColor;
  background-color: transparent;
  &::placeholder {
    color: $inputPlaceholderColor;
  }
}
